<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>View All Users</h1>

    <!-- Display any potantial Error-->
    <% if(errors.length){ %>
    <div>
      <ul>
        <% errors.forEach(err => { %>
        <li class="errors"><%= err.msg %></li>
        <% }) %>
      </ul>
    </div>
    <% } %>

    <!-- ADD A Person-->
    <% if (message){ %>
    <div>
      <h4><%= message %></h4>
    </div>

    <% } %>
    <div>
      <form action="/users" method="POST">
        <input type="text" placeholder="ID" name="id" />
        <input type="text" placeholder="name" name="first_name" />
        <input
          type="text"
          placeholder="email"
          name="email"
          default="______@gmail.com"
        />
        <input type="text" placeholder="password" name="password" />
        <input type="submit" name="Add" />
      </form>
    </div>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>First-Name</th>
          <th>Email</th>
          <th>Password</th>
          <th>Operation</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(user => { %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.first_name %></td>
          <td><%= user.email %></td>
          <td><%= user.password %></td>
          <td>
            <form action="/users/<%= user.id %>?method=DELETE" method="POST">
              <input type="submit" value="Remove" />
            </form>
            <a href="/users/<%= user.id %>">Update</a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
